{% extends 'layout.html' %}
{% block body %}
<head>
<style type="text/css">
	
	@media (min-width: 320px) and (max-width: 480px)
	{
       .first
       {
       	 width: 315px !important;
       }

	}

  .first
  {
  	width:560px;
  	 height: 500px;
  }
    .second
  {
  	width:560px;
  	 height: 500px;
  }
    .third
  {
  	width:560px;
  	 height: 600px;
  }


   #vision
   {
   	font-size: 18px;
  	line-height: 30px;
   }
    #mision
   {
   	font-size: 18px;
  	line-height: 30px;
   }
  #work{
  	font-size: 18px;
  	line-height: 30px;
  }

</style>
</head>

<div class="para ">
	
<!-- Main -->
	  
<br>
<body class="servicebody">

<hr> 

 <!-- Our Vision -->
	<div id="values" class="container-fluid py-2" >
		<center>
	        <div class="row col-11">
	            <div class="col-sm-6 col-xs-12">
	                <div class="container-fluid px-0">
	                	<img class="first" src="https://images.unsplash.com/photo-1498622248929-1d52d466f4a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80" alt="first-image">
	                </div>   	
	            </div>
	 	        <div class="col-sm-6 col-xs-12">
		            <div class="container-fluid rounded bg-light text-justify py-3">
                    
                         <div class="container-fluid" id="vision">
                  
<h4><b>OUR VISION</b></h4>
	  <p>As you finish the first draft of your essay, it is a good idea to have a second set of eyes look at it. Our editors will edit your essay for word choice, sentence structure, tone, and clarity, and they will make suggestions on organization and structure. We will provide helpful comments to let you know where you can improve your arguments and strengthen your paper, and we'll also fix typos and spelling and grammar errors.
This is the expert essay editing support you can't get from your friends or your busy instructor. Best of all, you can learn from the edit because you'll be able to see all the changes that have been made, which will help make you a better writer. The great point is that you can be in contact with our editors where they may raise questions on your essays. As it is personal essay, the editor can not add anything from his own perspective. </p>                                                                                   
          
                    </div>
	                </div>
		        </div>            	
	        </div>			
		</center>      
	</div>


	
<!-- Our mission -->
	<div id="values" class="container-fluid py-2" >
		<center>
	        <div class="row col-11">
	            <div class="col-sm-6 col-xs-12">
	                <div class="container-fluid px-0 text-justify" id="mission">
	                	<h2 class="header text-center">Our Mission</h2>
                         <div class="container-fluid">
                         	<h4 class="ml-3"><i class="fas fa-hand-point-right"></i> Quality</h4>
                           <div class="container-fluid" id="mission">
We provide quality services, improve the quality of our clients' work, and work with high-quality editors. We will connect clients with their respective editors where they can ask and answer questions through our own developed technology,<b> "Chatroom"</b>                            	                           	
                           
                            <h4><i class="fas fa-hand-point-right mt-3"></i> Accuracy</h4>
                            
                            We pay attention to detail throughout the ordering, editing, and quality assurance processes.                        	
                          
                            <h4><i class="fas fa-hand-point-right mt-3"></i> Opportunity</h4>
                           
    							We create opportunities, both for our clients and our editors.                        	
                           
                            <h4><i class="fas fa-hand-point-right mt-3"></i> Technology</h4>
                           
    							We embrace technology, ensuring that our operations run smoothly and allowing us to adapt quickly in an ever-changing industry.   
    						</div>                     	
                                                                                                                 
                         </div>
	                </div>   	
	            </div>
	 	        <div class="col-sm-6 col-xs-12">
		            <div class="container-fluid rounded bg-light  py-3">
		            	<img class="second" src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="second-image">
                         
	                </div>
		        </div>            	
	        </div>			
		</center>      
	</div>

<!-- Our Vision -->

</body>
			  
</div>
<div class="mb-3">

{% endblock %}